.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: #fff;
}

.card {
    background-color: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    padding: 50px;
    width: 100%;
    max-width: 900px;
    text-align: center;
    color: #fff;
}

.card h2 {
    font-size: 4rem;
    margin-bottom: 50px;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card label {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card input[type="number"] {
    width: 150px;
    font-size: 2rem;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #fff;
    color: #000;
}

.card input[type="checkbox"] {
    transform: scale(2);
    margin-right: 10px;
}

.card button {
    font-size: 2rem;
    padding: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.card button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.card p {
    font-size: 2rem;
    margin-top: 30px;
    word-wrap: break-word;
    text-align: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card p.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .container {
        height: 100vh;
        padding: 10px;
    }

    .card {
        padding: 20px;
        border-radius: 15px;
        width: 90%;
    }

    .card h2 {
        font-size: 2rem;
    }

    .card form {
        gap: 10px;
    }

    .card label {
        font-size: 1.2rem;
        gap: 8px;
    }

    .card input[type="number"] {
        width: 100px;
        font-size: 1.2rem;
        padding: 5px;
    }

    .card input[type="checkbox"] {
        transform: scale(1.2);
    }

    .card button {
        font-size: 1.5rem;
        padding: 15px;
        margin-top: 2rem;
    }

    .card p {
        font-size: 1.2rem;
    }
}