<div class="container">
  <div class="card">
    <h2>Password Generator</h2>

    <form>
      <label>
        Length:
        <input type="number" [formControl]="length" min="8"/>
      </label>

      <label>
        <input type="checkbox" [formControl]="includeUppercase" /> Include capitals
      </label>

      <label>
        <input type="checkbox" [formControl]="includeNumbers" /> Include numbers
      </label>

      <label>
        <input type="checkbox" [formControl]="includeSymbols" /> Include symbols
      </label>

      <button (click)="generatePassword($event)">Generate password</button>
    </form>

    <p [class.show]="password">
      @if(password) {
        Generated password: <strong>{{ password }}</strong>
      }
    </p>
  </div>
</div>